@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #a2a3ad;
}

.mat-raised-button {
  &.mat-primary {
    background-image: linear-gradient(45deg, #b34929, #1862d1);
  }
  &.mat-accent {
    background-image: linear-gradient(45deg, #009688, #8bc34a);
    color: #fff;
  }
}

.mat-dialog-container {
  background-color: #27273f;
  .mat-form-field {
    font-size: 14px;
    &.mat-focused {
      .mat-form-field-label {
        color: #01e0fe;
      }
    }
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  background-color: #27273f;
  margin: 10px;
}